<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout::layout(#{title},~{this::#insert_anime})}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://unpkg.com/v8n/dist/v8n.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="#" th:href="@{/}">Animeshka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_menu"
                aria-controls="nav_menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav_menu">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Anime</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Manga</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="insert_anime">
    <div class="alert alert-success mt-1 alert-dismissible fade show" th:if="${!param.success.isEmpty()}">
        <strong th:text="#{anime.inserted.successfully.message}">Anime is inserted for verification!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <form class="m-auto w-75 mt-2 p-1" th:action="@{/anime}" method="post" id="insert_anime_form">
        <div>
            <label th:text="#{title.label}" class="form-label" for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Anime's english title" class="form-control" th:placeholder="#{title.placeholder}" onkeyup="isAnimeTitleValid()"/>
        </div>

        <div>
            <label th:text="#{japanese.title.label}" class="form-label" for="japanese_title">Japanese
                Title:</label>
            <input type="text" id="japanese_title" name="japanese_title" placeholder="Anime's official japanese title" class="form-control" th:placeholder="#{japanese.title.placeholder}" onkeyup="isAnimeJapaneseTitleValid()"/>
        </div>

        <div>
            <label th:text="#{airing.status.label}" class="form-label" for="anime_status">Airing
                Status:</label>
            <select th:remove="all-but-first" id="anime_status" name="anime_status" class="form-control">
                <option th:each="animeStatus : ${T(com.arslan.animeshka.AnimeStatus).values()}"
                        th:value="${animeStatus.name()}"
                        th:text="${#strings.arrayJoin(#strings.arrayCapitalize(animeStatus.name().toLowerCase().split('_')),' ')}">Airing
                </option>
                <option>Not Yet Aired</option>
                <option>Finished</option>
            </select>
        </div>

        <div>
            <label th:text="#{rating.label}" class="form-label" for="rating">Rating:</label>
            <select th:remove="all-but-first" id="rating" name="rating" class="form-control">
                <option th:each="rating : ${T(com.arslan.animeshka.SeriesRating).values()}" th:value="${rating.name()}" th:text="${#strings.arrayJoin(rating.name().split('_'),' ')}">G
                </option>
                <option>PG 12</option>
                <option>R 15</option>
                <option>R 18</option>
            </select>
        </div>

        <div>
            <label th:text="#{demographic.label}" class="form-label"
                   for="demographic">Demographic:</label>
            <select th:remove="all-but-first" id="demographic" name="demographic" class="form-control">
                <option th:each="demographic : ${T(com.arslan.animeshka.Demographic).values()}" th:value="${demographic.name()}" th:text="${#strings.capitalize(demographic.name().toLowerCase())}">Josei
                </option>
                <option>Kids</option>
                <option>Seinen</option>
                <option>Shoujo</option>
                <option>Shounen</option>
            </select>
        </div>

        <div>
            <label th:text="#{series.type.label}" class="form-label" for="series_type">Series Type:</label>
            <select th:remove="all-but-first" id="series_type" name="series_type" class="form-control">
                <option th:each="animeType : ${T(com.arslan.animeshka.AnimeType).values()}" th:value="${animeType.name()}" th:text="${#strings.capitalize(animeType.name().toLowerCase())}">TV
                </option>
                <option>OVA</option>
                <option>ONA</option>
            </select>
        </div>

        <div>
            <label th:text="#{studio.label}" class="form-label" for="rating">Studio:</label>
            <div class="alerts mt-1" id="studio_search_alerts"><div class="alert alert-warning d-none" id="studio_not_found_alert">Not a single studio was found.</div></div>
            <div role="search">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="studio_search_input" >
                    <button class="btn btn-outline-success" type="button" onclick="searchStudio('studio_search_input')">Search</button>
                </div>
                <input type="hidden" id="studio_id" name="studio_id" oninput="isAnimeStudioValid()" />
            </div>
            <button class="btn btn-secondary mt-2 w-100 d-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#studio_offcanvas" id="studio_choose_btn"></button>
            <div class="offcanvas offcanvas-start w-50" id="studio_offcanvas">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title w-100 text-center" id="studio_offcanvas_title"></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <img class="image-fluid m-auto d-block" id="studio_offcanvas_image" alt="poster">

                    <label class="form-label" for="studio_offcanvas_name" th:text="#{studio.name.label}">Studio Name:</label>
                    <input  class="form-control" readonly="readonly" id="studio_offcanvas_name" />

                    <label class="form-label" for="studio_offcanvas_japanese_name" th:text="#{studio.japanese.name.label}">Japanese Name:</label>
                    <input class="form-control" readonly="readonly" id="studio_offcanvas_japanese_name" />
                    <div class="d-flex mt-1">
                        <button type="button" class="btn btn-primary" id="studio_offcanvas_prev_btn">Previous</button>
                        <button type="button" class="btn btn-primary ms-auto" id="studio_offcanvas_next_btn">Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label th:text="#{licensor.label}" class="form-label" for="rating">Licensor:</label>
            <div class="alerts mt-1" id="licensor_search_alerts"><div class="alert alert-warning d-none" id="licensor_not_found_alert">Not a single studio was found.</div></div>

            <div role="search">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="licensor_search_input">
                    <button class="btn btn-outline-success" type="button" onclick="searchStudio('licensor_search_input',true)">Search</button>
                </div>
                <input type="hidden" id="licensor_id" name="licensor_id" oninput="isAnimeLicensorValid()"/>
            </div>
            <button class="btn btn-secondary mt-2 w-100 d-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#licensor_offcanvas" id="licensor_choose_btn"></button>
            <div class="offcanvas offcanvas-start w-50" id="licensor_offcanvas">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title w-100 text-center" id="licensor_offcanvas_title"></h5>
                    <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <img class="image-fluid m-auto d-block" id="licensor_offcanvas_image" alt="poster">

                    <label class="form-label" for="licensor_offcanvas_name" th:text="#{studio.name.label}">Studio Name:</label>
                    <input  class="form-control" readonly="readonly" id="licensor_offcanvas_name" />

                    <label class="form-label" for="licensor_offcanvas_japanese_name" th:text="#{studio.japanese.name.label}">Japanese Name:</label>
                    <input class="form-control" readonly="readonly" id="licensor_offcanvas_japanese_name" />
                    <div class="d-flex mt-1">
                        <button type="button" class="btn btn-primary" id="licensor_offcanvas_prev_btn">Previous</button>
                        <button type="button" class="btn btn-primary ms-auto" id="licensor_offcanvas_next_btn">Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label for="poster" class="form-label" th:text="#{poster.label}">Poster:</label>
            <input class="form-control" type="file" id="poster" accept="image/*" name="poster" oninput="isAnimePosterValid()">
            <div class="form-text" th:text="#{poster.hint}">Poster can be maximum 5MB.No avatar/no nudity.</div>
        </div>

        <div>
            <label for="images" class="form-label" th:text="#{images.label}">Images:</label>
            <input class="form-control" type="file" id="images" accept="image/*" multiple>
            <div class="form-text" th:text="#{image.hint}">Each image can be maximum 5MB.No avatar/no nudity.</div>
        </div>

        <div>
            <label th:text="#{synopsis.label}" class="form-label" for="synopsis">Synopsis:</label>
            <textarea id="synopsis" class="form-control" rows="7" style="resize: none" name="synopsis" oninput="isAnimeSynopsisValid()"></textarea>
        </div>

        <div>
            <label th:text="#{background.label}" class="form-label" for="background">Synopsis:</label>
            <textarea id="background" class="form-control" rows="7" style="resize: none" name="background"></textarea>
        </div>

        <div>
            <label th:text="#{additional.info.label}" class="form-label" for="additional_information">Additional Information:</label>
            <textarea id="additional_information" class="form-control" rows="7" style="resize: none"
                      name="additional_information"></textarea>
        </div>

        <div class="mt-3">
            <div><label th:text="#{themes.label}">Themes:</label></div>
            <div class="row">
                <div th:each="theme : ${T(com.arslan.animeshka.Theme).values()}" class="form-check form-check-inline col-lg-2 col-md-4">
                    <input type="checkbox" class="anime_theme" th:value="${theme.name()}" id="ADULT_CAST" th:id="${theme.name()}"/>
                    <label th:for="${theme.name()}" for="ADULT_CAST" th:text="${#strings.arrayJoin(theme.name().split('_'),' ')}">Adult Cast</label>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="ANTHROPOMORPHIC"/>
                        <label for="ANTHROPOMORPHIC">Anthropomorphic</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="CHILDCARE"/>
                        <label for="CHILDCARE">Childcare</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="COMBAT_SPORTS"/>
                        <label for="COMBAT_SPORTS">Combat Sports</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="CROSS_DRESSING"/>
                        <label for="CROSS_DRESSING">Cross Dressing</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="DELINQUENTS"/>
                        <label for="DELINQUENTS">Delinquents</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-3">
            <div><label th:text="#{genres.label}">Genres:</label></div>
            <div class="row">
                <div th:each="genre : ${T(com.arslan.animeshka.Genre).values()}"  class="form-check form-check-inline col-lg-2 col-md-4">
                    <input class="anime_genre" type="checkbox" th:value="${genre.name()}" id="ACTION" th:id="${genre.name()}"/>
                    <label th:for="${genre.name()}" for="ACTION"
                           th:text="${#strings.arrayJoin(genre.name().split('_'),' ')}">Action</label>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="ADVENTURE"/>
                        <label for="ADVENTURE">Adventure</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="AVANT_GARDE"/>
                        <label for="AVANT_GARDE">Avant Garde</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="BOYS_LOVE"/>
                        <label for="BOYS_LOVE">Boys Love</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="GIRLS_LOVE"/>
                        <label for="GIRLS_LOVE">Girls Love</label>
                    </div>
                </div>

                <div th:remove="all" class="form-check form-check-inline col-2">
                    <div>
                        <input type="checkbox" id="COMEDY"/>
                        <label for="COMEDY">Comedy</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-3 border border-secondary p-2" id="novel_relations">
            <label th:text="#{novel.relations.label}">Novel Relations:</label>
            <div class="border border-secondary-subtle container-fluid p-2" id="novel_relation_1" th:remove="all">
                <div class="d-flex justify-content-end"><button class="btn btn-danger" type="button" onclick="removeNovelRelation('novel_relation_1')">X</button></div>
                <div class="alerts"></div>
                <label class="form-label" for="novel_relation_select_1" th:text="#{novel.relation.label}">Relation Type:</label>
                <select class="form-control" th:remove="all-but-first" id="novel_relation_select_1">
                    <option th:each="relation : ${T(com.arslan.animeshka.Relation).values()}" th:value="${relation.name()}" th:text="${#strings.arrayJoin(relation.name().toLowerCase().split('_'),' ')}">Sequel</option>
                    <option>Prequel</option>
                </select>
                <label th:text="#{novel.label}" class="form-label" for="novel_relation_search_1">Novel:</label>
                <div class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="novel_relation_search_1">
                    <button class="btn btn-outline-success" type="button" th:text="#{search.button}" onclick="searchNovel(1)">Search</button>
                </div>
                <button class="btn btn-secondary mt-2 w-100 " type="button" data-bs-toggle="offcanvas" id="show_result_novel_relation_1" data-bs-target="#novel_relation_offcanvas_1" aria-controls="novel_relation_offcanvas_1">Show Result</button>
                <div id="novel_relation_offcanvas_1" class="offcanvas offcanvas-start">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="novel_relation_title_1">Test/Test_JP</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <img class="img-fluid" src="../static/placeholder-image.png" alt="poster" id="novel_relation_offcanvas_image" />

                        <label class="form-label" for="novel_relation_offcanvas_novel_type_1">Novel Type:</label>
                        <input readonly="readonly" class="form-control" id="novel_relation_offcanvas_novel_type_1" value="Light Novel" />

                        <label class="form-label" for="novel_relation_offcanvas_novel_demographics_1">Demographics:</label>
                        <input class="form-control" id="novel_relation_offcanvas_novel_demographics_1" readonly="readonly" value="Shounen" />

                        <label class="form-label" for="novel_relation_offcanvas_novel_status_1">Novel Status:</label>
                        <input class="form-control" readonly="readonly" value="Not Yet Aired" id="novel_relation_offcanvas_novel_status_1"/>

                        <label class="form-label" for="novel_relation_offcanvas_novel_published_1">Publication Date:</label>
                        <input class="form-control" readonly="readonly" type="date" value="2022-02-02" id="novel_relation_offcanvas_novel_published_1"/>

                        <label class="form-label" for="novel_relation_offcanvas_novel_finished_1">Finished On:</label>
                        <input id="novel_relation_offcanvas_novel_finished_1" class="form-control" readonly="readonly" type="date" value="2022-05-04" >

                        <label class="form-label" for="novel_relation_offcanvas_novel_synopsis_1">Synopsis:</label>
                        <textarea class="form-control"  id="novel_relation_offcanvas_novel_synopsis_1" readonly="readonly">Test</textarea>

                        <label class="form-label" for="novel_relation_offcanvas_background_1">Background:</label>
                        <textarea class="form-control" id="novel_relation_offcanvas_background_1" readonly="readonly">Background...</textarea>

                        <a class="btn btn-primary mt-2 w-100" href="#" target="_blank" id="novel_relation_offcanvas_details_1">More Details</a>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success w-100 mt-2" id="add_novel_relation_btn" onclick="onAddNovelRelation()">+</button>
        </div>

        <div class="mt-3 border border-secondary p-2" id="anime_relations">
            <label th:text="#{anime.relations.label}">Anime Relations:</label>
            <div class="border border-secondary-subtle container-fluid p-2" id="anime_relation_1" th:remove="all">
                <div class="d-flex justify-content-end"><button class="btn btn-danger" type="button" onclick="removeAnimeRelation('anime_relation_1')">X</button></div>
                <div class="alerts"></div>
                <label class="form-label" for="anime_relation_select_1" th:text="#{novel.relation.label}">Relation Type:</label>
                <select class="form-control" th:remove="all-but-first" id="anime_relation_select_1">
                    <option th:each="relation : ${T(com.arslan.animeshka.Relation).values()}" th:value="${relation.name()}" th:text="${#strings.arrayJoin(relation.name().toLowerCase().split('_'),' ')}">Sequel</option>
                    <option>Prequel</option>
                </select>
                <label th:text="#{anime.label}" class="form-label" for="rating">Anime:</label>
                <div class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="anime_relation_search_1">
                    <button class="btn btn-outline-success" type="button" th:text="#{search.button}">Search</button>
                </div>
                <button class="btn btn-secondary mt-2 w-100" type="button" data-bs-toggle="offcanvas" id="show_result_anime_relation_1" data-bs-target="#anime_relation_offcanvas_1" aria-controls="anime_relation_offcanvas_1">Show Result</button>
                <div id="anime_relation_offcanvas_1" class="offcanvas offcanvas-start w-50">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="anime_relation_title_1">Test/Test_JP</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <img class="img-fluid" src="../static/placeholder-image.png" alt="poster" id="anime_relation_offcanvas_image_1" />

                        <label class="form-label" for="anime_relation_offcanvas_type_1">Anime Type:</label>
                        <input readonly="readonly" class="form-control" id="anime_relation_offcanvas_type_1" value="Light Novel" />

                        <label class="form-label" for="anime_relation_offcanvas_novel_demographics_1">Demographics:</label>
                        <input class="form-control" id="anime_relation_offcanvas_novel_demographics_1" readonly="readonly" value="Shounen" />

                        <label class="form-label" for="anime_relation_offcanvas_status_1">Anime Status:</label>
                        <input class="form-control" readonly="readonly" value="Not Yet Aired" id="anime_relation_offcanvas_status_1"/>

                        <label class="form-label" for="anime_relation_offcanvas_published_1">Publication Date:</label>
                        <input class="form-control" readonly="readonly" type="date" value="2022-02-02" id="anime_relation_offcanvas_published_1"/>

                        <label class="form-label" for="anime_relation_offcanvas_finished_1">Finished On:</label>
                        <input id="anime_relation_offcanvas_finished_1" class="form-control" readonly="readonly" type="date" value="2022-05-04" >

                        <label class="form-label" for="anime_relation_offcanvas_synopsis_1">Synopsis:</label>
                        <textarea class="form-control"  id="anime_relation_offcanvas_synopsis_1" readonly="readonly">Test</textarea>

                        <label class="form-label" for="anime_relation_offcanvas_background_1">Background:</label>
                        <textarea class="form-control" id="anime_relation_offcanvas_background_1" readonly="readonly">Background...</textarea>

                        <a class="btn btn-primary mt-2 w-100" href="#" target="_blank" id="anime_relation_offcanvas_details_1">More Details</a>
                        <div class="d-flex mt-1">
                            <button class="btn btn-primary">Previous</button>
                            <Button class="btn btn-primary ms-auto">Next</Button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-success w-100 mt-2" id="add_anime_relation_btn" onclick="onAddAnimeRelation()">+</button>
        </div>

        <div class="mt-3 border border-secondary p-2" id="characters">
            <label th:text="#{characters.label}">Characters:</label>
            <div class="border border-secondary-subtle container-fluid p-2" id="anime_character_1" th:remove="all">
                <div class="d-flex justify-content-end"><button class="btn btn-danger" type="button" onclick="removeAnimeCharacter('anime_character_1')">X</button></div>
                <div class="alerts"></div>
                <label class="form-label" for="anime_character_select_1" th:text="#{character.role.label}">Role:</label>
                <select class="form-control" th:remove="all-but-first" id="anime_character_select_1">
                    <option th:each="role : ${T(com.arslan.animeshka.CharacterRole).values()}" th:value="${role.name()}" th:text="${role.name().toLowerCase()}">Main</option>
                    <option>Supporting</option>
                </select>
                <div>
                    <label th:text="#{character.label}" class="form-label" for="anime_character_search_1">Character:</label>
                    <div class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="anime_character_search_1">
                        <button class="btn btn-outline-success" type="button">Search</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success w-100 mt-2" onclick="onAddCharacterRelation()" id="add_character_relation_btn">+</button>
        </div>
        <div>
            <label th:text="#{explicit.genre.label}" class="form-label" for="explicit_genre">Explicit Genre:</label>
            <select id="explicit_genre" name="series_type" class="form-control">
                <option value="-">-</option>
                <option th:each="explicitGenre : ${T(com.arslan.animeshka.ExplicitGenre).values()}" th:value="${explicitGenre.name()}" th:text="${#strings.capitalize(explicitGenre.name().toLowerCase())}">Ecchi</option>
                <option th:remove="all">Erotica</option>
                <option th:remove="all">Hentai</option>
                <option th:remove="all">None</option>
            </select>
        </div>
        <div>
            <label class="form-label" for="airing_time" th:text="#{airing.time.label}">Airing Time(JST):</label>
            <input type="time" id="airing_time" class="form-control" />
        </div>
        <div>
            <label class="form-label" for="airing_day" th:text="#{airing.day.label}">Airing Day:</label>
            <select id="airing_day" class="form-control">
                <option value="-">-</option>
                <option th:each="day : ${T(java.time.DayOfWeek).values()}" th:text="${#messages.msg('day.'+day.name())}" th:value="${day.name()}">Monday</option>
                <option th:remove="all">Tuesday</option>
                <option th:remove="all">Wednesday</option>
                <option th:remove="all">Thursday</option>
                <option th:remove="all">Friday</option>
                <option th:remove="all">Saturday</option>
                <option th:remove="all">Sunday</option>
            </select>
        </div>

        <div>
            <label class="form-label" for="episode_duration" th:text="#{episode.duration.label}">Episode Duration(Avg.)</label>
            <input type="number" id="episode_duration" class="form-control"/>
        </div>

        <div>
            <label class="form-label" for="aired_at" th:text="#{aired.at.label}">Aired At:</label>
            <input type="date" id="aired_at" class="form-control" />
        </div>

        <div>
            <label class="form-label" for="finished_at" th:text="#{finished.on.label}">Finished At:</label>
            <input type="date" id="finished_at" class="form-control" />
        </div>

        <button type="button" class="btn btn-primary mt-2 w-100" th:value="#{submit.button}" onclick="postAnime()">Submit</button>
    </form>
    <script th:inline="javascript" type="text/javascript">
        let formModified = false

        $(document).ready(function(){
            formModified = false
            $("form :input").on("change input", function(){
                formModified = true
            })
            window.onbeforeunload = function(e){
                if(formModified){
                    e.preventDefault()
                    e.returnValue = ""
                }
            }
        })


        const titleRequiredMessage = /*[[#{anime.english.title.required.message}]]*/ "Please fill the official english title!";
        const japaneseTitleRequiredMessage = /*[[#{anime.japanese.title.required.message}]]*/ "Please fill the japanese title!";
        const studioRequiredMessage = /*[[#{anime.studio.required.message}]]*/"";
        const licensorRequiredMessage = /*[[#{anime.licensor.required.message}]]*/ "";
        const posterRequiredMessage = /*[[#{anime.poster.required.message}]]*/ "";
        const synopsisRequiredMessage = /*[[#{anime.synopsis.required.message}]]*/ "";
        const novelRequiredMessage = /*[[#{anime.novel.relation.required.message}]]*/ "Novel Required!";
        const animeRequiredMessage = /*[[#{anime.anime.relation.required.message}]]*/ "";
        const characterRequiredMessage = /*[[#{anime.character.relation.required.message}]]*/ "";
        const voiceActorRequired = /*[[#{anime.voice.actor.relation.required.message}]]*/ "";

        let nextNovelRelation = 1
        let nextAnimeRelation = 1
        let nextAnimeCharacter = 1
        let relationOptions = /*[[${T(com.arslan.animeshka.Relation).values()}]]*/ ["Sequel","Prequel"];
        let roleOptions = /*[[${T(com.arslan.animeshka.CharacterRole).values()}]]*/ ["protagonist","antagonist"];
        let relationSelectLabelText = /*[[#{novel.relation.label}]]*/ "Relation Type:";
        let roleSelectLabelText = /*[[#{character.role.label}]]*/ "Role:" ;
        let removeBtnText = /*[[#{remove.relation.button}]]*/ "X";
        let novelSearchLabelText = /*[[#{novel.label}]]*/ "Novel:";
        let animeSearchLabelText = /*[[#{anime.label}]]*/ "Anime:";
        let characterSearchLabelText = /*[[#{character.label}]]*/ "Character:";
        let searchBtnText = /*[[#{search.button}]]*/ "Search" ;
        let demographicsLabelText = /*[[#{demographic.label}]]*/ "Demographics:"
        let novelRelationStatusLabelText = /*[[#{novel.status.label}]]*/ "Novel Status:"
        let novelRelationPublishedLabelText = /*[[#{novel.publication.label}]]*/ "Publication Date:";
        let finishedOnLabelText = /*[[#{finished.on.label}]]*/ "Finished On:";
        let synopsisLabelText = /*[[#{synopsis.label}]]*/ "Synopsis:";
        let backgroundLabelText = /*[[#{background.label}]]*/ "Background:";
        let moreDetailsLabel = /*[[#{more.details.label}]]*/ "More Details:";
        let seriesTypeLabel = /*[[#{series.type.label}]]*/ "Series Type:" ;
        let animeRelationStatusLabelText = /*[[#{airing.status.label}]]*/ "Airing Status:";
        let animeRelationPublishedLabelText = /*[[#{aired.at.label}]]*/ "Aired At:";
        let voiceActorLabel = /*[[#{voice.actor.label}]]*/ "Voice Actor:";
        let previousBtnText = /*[[#{previous.btn.text}]]*/ "Previous";
        let nextBtnText = /*[[#{next.btn.text}]]*/ "Next";
        let animeSearchNotFound = /*[[#{anime.not.found.messages}]]*/ "Not a single anime was found.";
        let novelSearchNotFound = /*[[#{novels.not.found.message}]]*/ "Not a single novel was found.";
        let characterNotFound = /*[[#{characters.not.found.message}]]*/ "Not a single character was found."
        let voiceActorNotFound = /*[[#{people.not.found.message}]]*/ "Not a single person was found."
        let descriptionLabel = /*[[#{description.label}]]*/ "Description:";
        let birthDateLabel = /*[[#{birth.date.label}]]*/ "Birth Date:";

        async function postAnime(){

            if(!animeValidation()){
                return
            }

            let title = $("#title").val()
            let japaneseTitle = $("#japanese_title").val()
            let status = $("#anime_status").find(":selected").val()
            let rating = $("#rating").find(":selected").val()
            let demographic = $("#demographic").find(":selected").val()
            let type = $("#series_type").find(":selected").val()
            let synopsis = $("#synopsis").val()
            let background = $("#background").val()
            let additionalInfo = $("#additional_information").val()
            let themes = $(".anime_theme:checkbox:checked").map( (_,checkbox) => checkbox.value).toArray()
            let genres = $(".anime_genre:checkbox:checked").map( (_,checkbox) => checkbox.value).toArray()
            let studio = $("#studio_id").val()
            let licensor = $("#licensor_id").val()
            let explicitGenre = $("#explicit_genre").val()
            if(explicitGenre === "-"){ explicitGenre = null }
            let airingTime = $("#airing_time").val()
            if(airingTime === ""){ airingTime = null }
            let airingDay = $("#airing_day").val()
            if(airingDay === "-"){ airingDay = null }
            let episodeDuration = $("#episode_duration").val()
            if(episodeDuration === ""){ episodeDuration = null }
            let airedAt = $("#aired_at").val()
            if(airedAt === ""){ airedAt = null }
            let finishedAt = $("#finished_at").val()
            if(finishedAt === ""){ finishedAt = null }
            let novelRelations = $(".novel_relation_hidden_id")
                .map( (_,novel) => {
                    let htmlID = $(novel).attr("id")
                    let sequenceID = htmlID.substring(htmlID.lastIndexOf("_")+1)
                    let novelID = $(novel).val()
                    let novelRelation = $(`#novel_relation_select_${sequenceID}`).val()

                    return {
                        relatedWorkID : novelID,
                        relation : novelRelation
                    }
                }).toArray()
            let animeRelations = $(".anime_relation_hidden_id").map((_,anime) => {
                let htmlID = $(anime).attr("id")
                let sequenceID = htmlID.substring(htmlID.lastIndexOf("_")+1)
                let animeID = $(anime).val()
                let animeRelation = $(`#anime_relation_select_${sequenceID}`).val()

                return {
                    relatedWorkID : animeID,
                    relation : animeRelation
                }
            }).toArray()
            let characterRelations = $(".character_relation_hidden_id").map((_,character) => {
                let htmlID = $(character).attr("id")
                let sequenceID = htmlID.substring(htmlID.lastIndexOf("_")+1)
                let characterID = $(character).val()
                let voiceActorID = $(`#character_relation_va_hidden_${sequenceID}`).val()
                let role = $(`#character_relation_select_${sequenceID}`).val()

                return {
                    characterID : characterID,
                    voiceActorID : voiceActorID,
                    role : role
                }
            }).toArray()
            const animeContent = {
                title : title,
                japaneseTitle : japaneseTitle,
                status : status,
                rating : rating,
                studio : studio,
                licensor : licensor,
                demographic : demographic,
                synopsis : synopsis,
                animeType : type,
                background : background,
                additionalInfo : additionalInfo,
                themes : themes,
                genres : genres,
                novelRelations : novelRelations,
                animeRelations : animeRelations,
                characters : characterRelations,
                explicitGenre : explicitGenre,
                airingTime : airingTime,
                airingDay: airingDay,
                duration : episodeDuration,
                airedAt : airedAt,
                finishedAt : finishedAt
            }
            const form = new FormData()
            let animeContentJson = JSON.stringify(animeContent)
            console.log(animeContentJson)
            form.append("data",new Blob([animeContentJson],{type : "application/json"}))
            let images = $("#images")[0].files
            for (let i = 0; i <images.length; i++) {
                form.append("images",images[i])
            }
            form.append("poster",$("#poster")[0].files[0])
            let response = await fetch(
                "/anime",
                {
                    method : "POST",
                    credentials: "same-origin",
                    body : form
                }
            )

            if(response.status === 200){
                formModified = false // set formModified to false in order avoid confirmation on redirect
                window.location.replace(window.location.href+"?success")
            }

        }

        function onAddCharacterRelation(){
            addCharacterRelation(nextAnimeCharacter)

            nextAnimeCharacter = nextAnimeCharacter + 1
        }

        function onAddAnimeRelation(){
            addAnimeRelation(nextAnimeRelation)

            nextAnimeRelation = nextAnimeRelation + 1
        }

        function onAddNovelRelation() {
            addNovelRelation(nextNovelRelation)

            nextNovelRelation = nextNovelRelation + 1
        }

        function addAlert(alertContainer,text){
            alertContainer.append($("<div>").attr("class","alert alert-danger alert-dismissible fade show mt-2").attr("role","alert").text(text).append($("<button>").attr("class","btn-close").attr("type","button").attr("data-bs-dismiss","alert").attr("aria-label","Close")))
        }

    </script>
    <script th:src="@{/resource/anime.js}" type="text/javascript" src="../static/anime.js"></script>
    <script th:src="@{/resource/novel.js}" type="text/javascript" src="../static/novel.js"></script>
    <script th:src="@{/resource/validation.js}" type="text/javascript" src="../static/validation.js"></script>
    <script th:src="@{/resource/studio.js}" type="text/javascript" src="../static/studio.js"></script>
    <script th:src="@{/resource/character.js}" type="text/javascript" src="../static/character.js"></script>
</div>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>